In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("analysis-flights").master("local[2]").getOrCreate()

In [ ]:
spark

In [ ]:
flight_df = (spark.read
  .format("csv")
  .option("mode", "PERMISSIVE")
  .option("header",True)
  .load("flights.csv"))

In [ ]:
flight_df.show()

+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+
| id|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|          time_hour|                name|
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+
|  0|2013|    1|  1|   517.0|           515|      2.0|   830.0|           819|     11.0|     UA|  1545| N14228|   EWR| IAH|   227.0|    1400|   5|    15|2013-01-01 05:00:00|United Air Lines ...|
|  1|2013|    1|  1|   533.0|           529|      4.0|   850.0|           830|     20.0|     UA|  1714| N24211|   LGA| IAH|   227.0|    1416|   5|    29|2013-01-01 05:00:00|United Air Lines ...|
|  2|2013|    1|  1|   542.0|           540|      2.0|   923.0|           850|     33.0|     AA|  1141| N619AA|   JFK| MIA|   160.0|    1089|   5|    40|2013-01-01 05:00:00|American Airlines...|
|  3|2013|    1|  1|   544.0|           545|     -1.0|  1004.0|          1022|    -18.0|     B6|   725| N804JB|   JFK| BQN|   183.0|    1576|   5|    45|2013-01-01 05:00:00|     JetBlue Airways|
|  4|2013|    1|  1|   554.0|           600|     -6.0|   812.0|           837|    -25.0|     DL|   461| N668DN|   LGA| ATL|   116.0|     762|   6|     0|2013-01-01 06:00:00|Delta Air Lines Inc.|
|  5|2013|    1|  1|   554.0|           558|     -4.0|   740.0|           728|     12.0|     UA|  1696| N39463|   EWR| ORD|   150.0|     719|   5|    58|2013-01-01 05:00:00|United Air Lines ...|
|  6|2013|    1|  1|   555.0|           600|     -5.0|   913.0|           854|     19.0|     B6|   507| N516JB|   EWR| FLL|   158.0|    1065|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
|  7|2013|    1|  1|   557.0|           600|     -3.0|   709.0|           723|    -14.0|     EV|  5708| N829AS|   LGA| IAD|    53.0|     229|   6|     0|2013-01-01 06:00:00|ExpressJet Airlin...|
|  8|2013|    1|  1|   557.0|           600|     -3.0|   838.0|           846|     -8.0|     B6|    79| N593JB|   JFK| MCO|   140.0|     944|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
|  9|2013|    1|  1|   558.0|           600|     -2.0|   753.0|           745|      8.0|     AA|   301| N3ALAA|   LGA| ORD|   138.0|     733|   6|     0|2013-01-01 06:00:00|American Airlines...|
| 10|2013|    1|  1|   558.0|           600|     -2.0|   849.0|           851|     -2.0|     B6|    49| N793JB|   JFK| PBI|   149.0|    1028|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
| 11|2013|    1|  1|   558.0|           600|     -2.0|   853.0|           856|     -3.0|     B6|    71| N657JB|   JFK| TPA|   158.0|    1005|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
| 12|2013|    1|  1|   558.0|           600|     -2.0|   924.0|           917|      7.0|     UA|   194| N29129|   JFK| LAX|   345.0|    2475|   6|     0|2013-01-01 06:00:00|United Air Lines ...|
| 13|2013|    1|  1|   558.0|           600|     -2.0|   923.0|           937|    -14.0|     UA|  1124| N53441|   EWR| SFO|   361.0|    2565|   6|     0|2013-01-01 06:00:00|United Air Lines ...|
| 14|2013|    1|  1|   559.0|           600|     -1.0|   941.0|           910|     31.0|     AA|   707| N3DUAA|   LGA| DFW|   257.0|    1389|   6|     0|2013-01-01 06:00:00|American Airlines...|
| 15|2013|    1|  1|   559.0|           559|      0.0|   702.0|           706|     -4.0|     B6|  1806| N708JB|   JFK| BOS|    44.0|     187|   5|    59|2013-01-01 05:00:00|     JetBlue Airways|
| 16|2013|    1|  1|   559.0|           600|     -1.0|   854.0|           902|     -8.0|     UA|  1187| N76515|   EWR| LAS|   337.0|    2227|   6|     0|2013-01-01 06:00:00|United Air Lines ...|
| 17|2013|    1|  1|   600.0|           600|      0.0|   851.0|           858|     -7.0|     B6|   371| N595JB|   LGA| FLL|   152.0|    1076|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
| 18|2013|    1|  1|   600.0|           600|      0.0|   837.0|           825|     12.0|     MQ|  4650| N542MQ|   LGA| ATL|   134.0|     762|   6|     0|2013-01-01 06:00:00|           Envoy Air|
| 19|2013|    1|  1|   601.0|           600|      1.0|   844.0|           850|     -6.0|     B6|   343| N644JB|   EWR| PBI|   147.0|    1023|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+
only showing top 20 rows

In [ ]:
spark.catalog.listDatabases()

[Database(name='default', catalog='spark_catalog', description='default database', locationUri='file:/content/spark-warehouse')]

In [ ]:
spark.catalog.listTables()

[]

In [ ]:
flight_df.describe().show()

+-------+-----------------+------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------+------------------+-------+------+------+------------------+------------------+------------------+------------------+-------------------+--------------------+
|summary|               id|  year|             month|              day|          dep_time|    sched_dep_time|         dep_delay|          arr_time|   sched_arr_time|        arr_delay|carrier|            flight|tailnum|origin|  dest|          air_time|          distance|              hour|            minute|          time_hour|                name|
+-------+-----------------+------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------+------------------+-------+------+------+------------------+------------------+------------------+------------------+-------------------+--------------------+
|  count|           336776|336776|            336776|           336776|            328521|            336776|            328521|            328063|           336776|           327346| 336776|            336776| 334264|336776|336776|            327346|            336776|            336776|            336776|             336776|              336776|
|   mean|         168387.5|2013.0| 6.548509988835309|15.71078699194717|1349.1099473093045|1344.2548400123524|12.639070257304708|1502.0549985825894|1536.380220086942| 6.89537675731489|   NULL|1971.9236198541464|   NULL|  NULL|  NULL|150.68646019807787|1039.9126036297123|13.180247404803193| 26.23009953203316|               NULL|                NULL|
| stddev|97219.00146576285|   0.0|3.4144572446789234|8.768607101536908|488.28179100116137| 467.3357557342096| 40.21006089213008| 533.2641319903753|497.4571415143923|44.63329169019399|   NULL|1632.4719381393159|   NULL|  NULL|  NULL| 93.68830465900963| 733.2330333236774| 4.661315707848447|19.300845657412882|               NULL|                NULL|
|    min|                0|  2013|                 1|                1|               1.0|              1000|              -1.0|               1.0|                1|             -1.0|     9E|                 1| D942DN|   EWR|   ABQ|             100.0|              1005|                 1|                 0|2013-01-01 05:00:00|AirTran Airways C...|
|    max|            99999|  2013|                 9|                9|             959.0|               959|              99.0|             959.0|              959|             99.0|     YV|               999| N9EAMQ|   LGA|   XNA|              99.0|               997|                 9|                 9|2013-12-31 23:00:00|      Virgin America|
+-------+-----------------+------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------+------------------+-------+------+------+------------------+------------------+------------------+------------------+-------------------+--------------------+

In [ ]:
# to check for null values
import pyspark.sql.functions as F
flight_df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in flight_df.columns]).show()

+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+---------+----+
| id|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|time_hour|name|
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+---------+----+
|  0|   0|    0|  0|    8255|             0|     8255|    8713|             0|     9430|      0|     0|   2512|     0|   0|    9430|       0|   0|     0|        0|   0|
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+---------+----+

In [ ]:
flight_df.count(), len(flight_df.columns)

(336776, 21)

In [ ]:
flight_df.columns

['id',
 'year',
 'month',
 'day',
 'dep_time',
 'sched_dep_time',
 'dep_delay',
 'arr_time',
 'sched_arr_time',
 'arr_delay',
 'carrier',
 'flight',
 'tailnum',
 'origin',
 'dest',
 'air_time',
 'distance',
 'hour',
 'minute',
 'time_hour',
 'name']

In [ ]:
flight_df.printSchema()

root
 |-- id: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- sched_dep_time: string (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- sched_arr_time: string (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: string (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)
 |-- time_hour: string (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
# Summary statistics (like count, mean, stddev, min, max)
flight_df.describe().show()

+-------+-----------------+------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------+------------------+-------+------+------+------------------+------------------+------------------+------------------+-------------------+--------------------+
|summary|               id|  year|             month|              day|          dep_time|    sched_dep_time|         dep_delay|          arr_time|   sched_arr_time|        arr_delay|carrier|            flight|tailnum|origin|  dest|          air_time|          distance|              hour|            minute|          time_hour|                name|
+-------+-----------------+------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------+------------------+-------+------+------+------------------+------------------+------------------+------------------+-------------------+--------------------+
|  count|           336776|336776|            336776|           336776|            328521|            336776|            328521|            328063|           336776|           327346| 336776|            336776| 334264|336776|336776|            327346|            336776|            336776|            336776|             336776|              336776|
|   mean|         168387.5|2013.0| 6.548509988835309|15.71078699194717|1349.1099473093045|1344.2548400123524|12.639070257304708|1502.0549985825894|1536.380220086942| 6.89537675731489|   NULL|1971.9236198541464|   NULL|  NULL|  NULL|150.68646019807787|1039.9126036297123|13.180247404803193| 26.23009953203316|               NULL|                NULL|
| stddev|97219.00146576285|   0.0|3.4144572446789234|8.768607101536908|488.28179100116137| 467.3357557342096| 40.21006089213008| 533.2641319903753|497.4571415143923|44.63329169019399|   NULL|1632.4719381393159|   NULL|  NULL|  NULL| 93.68830465900963| 733.2330333236774| 4.661315707848447|19.300845657412882|               NULL|                NULL|
|    min|                0|  2013|                 1|                1|               1.0|              1000|              -1.0|               1.0|                1|             -1.0|     9E|                 1| D942DN|   EWR|   ABQ|             100.0|              1005|                 1|                 0|2013-01-01 05:00:00|AirTran Airways C...|
|    max|            99999|  2013|                 9|                9|             959.0|               959|              99.0|             959.0|              959|             99.0|     YV|               999| N9EAMQ|   LGA|   XNA|              99.0|               997|                 9|                 9|2013-12-31 23:00:00|      Virgin America|
+-------+-----------------+------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------+------------------+-------+------+------+------------------+------------------+------------------+------------------+-------------------+--------------------+

In [ ]:

# Extended summary statistics for each column
flight_df.summary().show()

+-------+-----------------+------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------+------------------+-------+------+------+------------------+------------------+------------------+------------------+-------------------+--------------------+
|summary|               id|  year|             month|              day|          dep_time|    sched_dep_time|         dep_delay|          arr_time|   sched_arr_time|        arr_delay|carrier|            flight|tailnum|origin|  dest|          air_time|          distance|              hour|            minute|          time_hour|                name|
+-------+-----------------+------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------+------------------+-------+------+------+------------------+------------------+------------------+------------------+-------------------+--------------------+
|  count|           336776|336776|            336776|           336776|            328521|            336776|            328521|            328063|           336776|           327346| 336776|            336776| 334264|336776|336776|            327346|            336776|            336776|            336776|             336776|              336776|
|   mean|         168387.5|2013.0| 6.548509988835309|15.71078699194717|1349.1099473093045|1344.2548400123524|12.639070257304708|1502.0549985825894|1536.380220086942| 6.89537675731489|   NULL|1971.9236198541464|   NULL|  NULL|  NULL|150.68646019807787|1039.9126036297123|13.180247404803193| 26.23009953203316|               NULL|                NULL|
| stddev|97219.00146576285|   0.0|3.4144572446789234|8.768607101536908|488.28179100116137| 467.3357557342096| 40.21006089213008| 533.2641319903753|497.4571415143923|44.63329169019399|   NULL|1632.4719381393159|   NULL|  NULL|  NULL| 93.68830465900963| 733.2330333236774| 4.661315707848447|19.300845657412882|               NULL|                NULL|
|    min|                0|  2013|                 1|                1|               1.0|              1000|              -1.0|               1.0|                1|             -1.0|     9E|                 1| D942DN|   EWR|   ABQ|             100.0|              1005|                 1|                 0|2013-01-01 05:00:00|AirTran Airways C...|
|    25%|          84200.0|2013.0|               4.0|              8.0|             908.0|             906.0|              -5.0|            1104.0|           1124.0|            -17.0|   NULL|             553.0|   NULL|  NULL|  NULL|              82.0|             502.0|               9.0|               8.0|               NULL|                NULL|
|    50%|         168369.0|2013.0|               7.0|             16.0|            1401.0|            1359.0|              -2.0|            1536.0|           1556.0|             -5.0|   NULL|            1496.0|   NULL|  NULL|  NULL|             129.0|             872.0|              13.0|              29.0|               NULL|                NULL|
|    75%|         252563.0|2013.0|              10.0|             23.0|            1744.0|            1729.0|              11.0|            1940.0|           1945.0|             14.0|   NULL|            3465.0|   NULL|  NULL|  NULL|             192.0|            1389.0|              17.0|              44.0|               NULL|                NULL|
|    max|            99999|  2013|                 9|                9|             959.0|               959|              99.0|             959.0|              959|             99.0|     YV|               999| N9EAMQ|   LGA|   XNA|              99.0|               997|                 9|                 9|2013-12-31 23:00:00|      Virgin America|
+-------+-----------------+------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------+------------------+-------+------+------+------------------+------------------+------------------+------------------+-------------------+--------------------+

In [ ]:
# count unique values
from pyspark.sql.functions import countDistinct

# Count unique values in specific column(s)
flight_df.select([countDistinct(c).alias(c) for c in flight_df.columns]).show()

+------+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+---------+----+
|    id|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|time_hour|name|
+------+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+---------+----+
|336776|   1|   12| 31|    1318|          1021|      527|    1411|          1163|      577|     16|  3844|   4043|     3| 105|     509|     214|  20|    60|     6936|  16|
+------+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+---------+----+

In [ ]:
from pyspark.sql.functions import col, sum

# Count null values in each column
flight_df.select([sum(col(c).isNull().cast("int")).alias(c) for c in flight_df.columns]).show()

+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+---------+----+
| id|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|time_hour|name|
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+---------+----+
|  0|   0|    0|  0|    8255|             0|     8255|    8713|             0|     9430|      0|     0|   2512|     0|   0|    9430|       0|   0|     0|        0|   0|
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+---------+----+

In [ ]:
from pyspark.sql.functions import avg
flight_df.select(avg("air_time")).show()

+------------------+
|     avg(air_time)|
+------------------+
|150.68646019807787|
+------------------+

In [ ]:
flight_grouped = flight_df.groupBy("carrier").agg({"air_time": "sum"}).show()
flight_grouped

+-------+-------------+
|carrier|sum(air_time)|
+-------+-------------+
|     UA|  1.2237728E7|
|     AA|    6032306.0|
|     EV|    4603614.0|
|     B6|    8170975.0|
|     DL|    8277661.0|
|     OO|       2421.0|
|     F9|     156357.0|
|     YV|      35763.0|
|     US|    1756507.0|
|     MQ|    2282880.0|
|     HA|     213096.0|
|     AS|     230863.0|
|     FL|     321132.0|
|     VX|    1724104.0|
|     WN|    1780402.0|
|     9E|    1500801.0|
+-------+-------------+